.App {
  text-align: center;
}

.App h1 {
  margin: 20px;
  margin-top: 50px;
}

.rectangle {
  width: 200px;
  height: 100px;
  background-color: #00ff00;
  border-radius: 5px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #f0f0f0;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.excalidraw-wrapper {
  height: 80vh;
  width: 100%;
  margin: 20px auto;
}

.sidebar {
  position: fixed;
  top: 50px;
  left: 0;
  width: 200px;
  background: #fff;
  border-right: 1px solid #ddd;
  padding: 10px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
  max-height: 210px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.sidebar li:hover {
  background: #f0f0f0;
}
