.App {
  text-align: center;
}

.App h1 {
  margin: 20px;
  margin-top: 50px;
}

.rectangle {
  width: 200px;
  height: 100px;
  background-color: #00ff00;
  border-radius: 5px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #f0f0f0;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.excalidraw-wrapper {
  height: 80vh;
  width: 100%;
  margin: 20px auto;
}

.sidebar {
  position: fixed;
  top: 50px;
  left: 0;
  width: 200px;
  background: #fff;
  border-right: 1px solid #ddd;
  padding: 10px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
  max-height: 210px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.sidebar li:hover {
  background: #f0f0f0;
}

.animation-sidebar {
  position: absolute;
  background-color: white;
  box-shadow: 0px 0px 0.9310142993927002px 0px rgba(0, 0, 0, 0.17),
    0px 0px 3.1270833015441895px 0px rgba(0, 0, 0, 0.08),
    0px 7px 14px 0px rgba(0, 0, 0, 0.05);
  z-index: 100;
  right: var(--editor-container-padding);
  top: 50%;
  transform: translateY(-50%);
  width: 200px;
  border-radius: 6px;
}

.animation-sidebar ul {
  padding: 5px;
  margin: 0;
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.animation-sidebar ul li {
  list-style: none;
  cursor: pointer;
  padding: 5px;
}

.animation-sidebar ul li:hover {
  background-color: lightgray;
}
